body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: white;
	font-size:13pt;
	line-height: 17pt;
}

.clear {
	clear:both;
}

a, a:hover, a:visited, a:active {
	color:#7b90b5;
	text-decoration: none;
}

#wrapper, .wrapper-mid {
	background: none;
}

.wrapper-top, .wrapper-bottom  {
	display:none;
}



#paper {
	margin:0 auto;
	border: none;
	border-width: 0px;
}

.paper-top, .paper-bottom {
	display:none;
}

#paper-mid {
	margin:0 auto;
	background-color:#FFF;
	display:block;
	padding:0;
	overflow: hidden;
	padding-bottom:75px;
	padding-top:7px;
}

.entry {
	display: block;
	padding-top:5px;
	clear: both;
}

.entry-first {
padding-top:1em;

}


h2 {
	height: 23px;
	text-align: left;
	//float:left;
	padding:0;
	margin:em;
	clear:both;
	font-size:22pt;
	margin-bottom:-12px;
	color:#1b4491;
}

p {
	margin-left:0px;
	//float:left;
}

ul.list {
	clear: both;
	padding-left:0em;
	margin:0;
	overflow: hidden;
}

ul.list li {
	padding-left:0.5em;
	display:block;
	//float:center;
	padding-top:1em;
}


h3 {
	width:180px;
	//text-align: left;
	//float:left;
	padding:0;
	clear:both;
	font-size: 13pt;
	color:black;
}

em {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	color:#999;
	font-size:12pt;
	display: block;
	padding-top:0;
}

ul.info {
	//float:left;
	margin-left:2em;
	background: none;
	list-style: square;
	
}

ul.info li {
	margin:0;
	padding-left:2em;
	//float:left;
	display: block;
	padding-left:0;
	background-position: 0 .5em;
	margin-top:12px;
	list-style-type: square;
}


img.portrait {
	 display: none !important;
	 width:0px;
}

.self {
	width:600px;
	float:left;
	padding-top:11px;
	margin-left:0pt;
	margin-bottom:15px;

}

.self ul {
	float:center;
	padding-top: 10px;
}

.self ul li {
	background-repeat: no-repeat;
	padding-left:95pt;
	background-position: 0 .1em;
	height:25px;
	display:block;
	margin-top:-2px;
}


h1  {
	font-size:42px;
	color:#1b4491;
	margin-bottom:9px;
	margin-left:0px;padding-left:0px;
	clear:both;
}

h1 span {
	font-size:21px;
	display:block;
	color:#1b4491;
	margin-top:30pt;
	margin-left:95pt;
}

.break {
	page-break-before: always;
}

.social {
	display:none;
}

/* ELEMENTS */
/* ----------------------------------------- */

table {
	margin-left:0px;
	border-collapse: collapse;
	border-bottom:1px dashed #999;
	border-top:1px dashed #999;
}

table td {
	padding: 10px;
	padding-top:0;
	border-right:1px dashed #999;
}

table td:hover {
	background-color: #f2f2f2;
}

table th {
	padding: 10px;
	padding-top:0;
	color:#7b90b5;
	border-right:1px dashed #999;
}

table td.center {
	//text-align: left;
}

table td.last {
	background: none;
}

table th.center {
	//text-align: left;
}

table th.last {
	background: none;
}

table tr {
	border-left:1px dashed #999;
	border-top:1px dashed #999;
}

table tr.caption {
	border-left:1px dashed #999;
}

.content p {
	font-size:1.2em;
}

blockquote {
	border-left:3px solid #7b90b5;
	padding-left:8px;
	margin-top:20px;
	margin-left:0px;
}

pre {
	margin-left:0px;
}

abbr, acronym {
	border-bottom:1px dashed #7b90b5;
}

strong {
	font-weight: bold;
}

small {
	font-size:70%;
}

big {
	font-size:1.2em;
}

/* GO TO TOP */
/* ----------------------------------------- */

#message {
	display:none;
}

.works {
	display:none;
}